<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Spotify Playlists Recommendations</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
    <h1>Get Recommendations for Playlists</h1>
     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
        <input type="text" name="playlistID" placeholder="Playlist ID" required="required" /><br>
        <input type="text" name="numSongs" placeholder="Num of Songs to Recommend" required="required" /><br>
        <br><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Recommend</button>
    </form>

   <br>
   <br>
  
   
 </div>
 <div class="output">
    {{pred}}
 </div>
 

</body>
</html>